{% extends "base.html" %}

{% block content %}

 {% if form.errors %}
  <p>Ваш логін або пароль неправильні! Спробуйте ще...</p>
 {% endif %}

 {% if next %}
  {% if user.is_authenticated %}
   <p>У вас немає доступу до цієї сторінки.</p>
   {% else %}
    <p>Увійдіть в систему, щоб побачити цю сторінку.</p>
  {% endif %}
 {% endif %}

 <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
   <tr>
    <td>{{form.username.label_tag}}</td>
    <td>{{form.username}}</td>
   </tr>
   <tr>
    <td>{{form.password.label_tag}}</td>
    <td>{{form.password}}</td>
   </tr>
  </table>
  <input type="submit" value="Вхід" />
  <input type="hidden" name="next" value="{{next}}" />
  <p><a href="{% url 'password_reset' %}">Відновити пароль</a></p>
 </form>

{% endblock content %}
