<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Книжний світ</title>{% endblock title %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrap.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  {% block head %}
    <img src="{% static 'images/logotip.jpg' %}"
    style="width:100px; height:100px;" align="absmiddle">
    <font size=7, color="blue">Сайт Книжковий світ</font>
  {% endblock head %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Головна сторінка</a></li>
          <li><a href="{% url 'books' %}">Всі книги</a></li>
          <li><a href="{% url 'authors' %}">Всі автори</a></li>
          <li><a href="{% url 'authors_add' %}">Редагувати авторів</a></li>
          <li><a href="{% url 'book_create' %}">Додати книгу</a></li>
        </ul>
        {% if user.is_authenticated %}
          <li>Користувач: {{user.get_username}}</li>
          <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
        {% endif %}
        {% endblock sidebar %}
      </div>
      <div class="col-sm-10">
          
      {% block content %}{% endblock content %}

      {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
         <span class="page-links">
           {% if page_obj.has_previous %}
            <a href="{{request.path}}?page={{page_obj.previous_page_number}}">
            Попередня</a>
           {% endif %}
           <span class="page-current">
            Сторінка {{page_obj.number}} з {{page_obj.paginator.num_pages}}.
           </span>
           {% if page_obj.has_next %}
            <a href="{{request.path}}?page={{page_obj.next_page_number}}">Наступна</a>
           {% endif %}
         </span>
        </div>
        {% endif %}
      {% endblock pagination %}
      
      {% block footer %}
        {% block copiright %}
        <p>Copyright ТОВ "Єкнига", 2026. Всі права захищені</p>
        {% endblock copiright %}
      {% endblock footer %}
      </div>
    </div>
  </div>
</body>
</html>



