{% extends 'base.html' %}

{% block content %}

<h3>Список авторів у БД</h3>
<h4>{{author.first_name}} {{author.last_name}}</h4>
  <form method="POST">
    {% csrf_token %}
    <p><label>Змінити ім'я</label><br>
      <input type="text" name="first_name"
        value="{{author.first_name}}" /></p>
    <p><label>Змінити прізвище</label><br>
      <input type="text" name="last_name"
        value="{{author.last_name}}" /></p>
    <p><label>Змінити дату народження</label><br>
      <input type="date" name="date_of_birth"
        value="{{author.date_of_birth}}"/></p>
    <p><label>Змінити дату смерті</label><br>
      <input type="date" name="date_of_death"
        value="{{author.date_of_death}}" /></p>
    <input type="submit" value="Зберегти">
  </form>

{% endblock content %}
