{% extends "base.html" %}

{% block content %}

<h1>Головна сторінка сайту!</h1>
  <p>Ласкаво просимо на сайт <em>Книжковий світ</em>, це простий
  веб-сайт, який створювався, щоб навчитись писати веб-сайти, він
  написаний на Python з допомогою фреймворку Django.</p>
<h2>Динамічний контент сайту</h2>
  <p>База даних сайту містить наступні записи</p>
  <ul>
    <li><strong>Кількість книг: </strong>{{num_books}}</li>
    <li><strong>Кількість примірників книг: </strong>{{num_instances}}</li>
    <li><strong>Кількість замовлених примірників:</strong>{{num_instances_available}}</li>
    <li><strong>Кількість авторів книг:</strong>{{num_authors}}</li>    
  </ul>
  <p>Кількість відвідувань сторінки: {{num_visits}}</p>

{% endblock content %}
